# pycache
*pycache*
ice2_ws25/__pycache__/
# dotfiles
.*
# executables
main
test_run
test.exe
# temporary files
out.*
# object files
*.o
# intermediate files
*.ice
*.iic
# assembly files
*.out
*.asm
# graph coloring files
dot/
# generated parser files
parser.out
parsetab.py
results.csv
